.homepage .home-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .home-slide .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .home-slide .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.homepage .grid-service {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

@media screen and (min-width: 560px) {
  .homepage .grid-service {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
}

@media screen and (min-width: 1024px) {
  .homepage .grid-service {
    -ms-grid-columns: (25%)[4];
        grid-template-columns: repeat(4, 25%);
  }
}

.homepage .grid-service .box {
  position: relative;
  max-width: 480px;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .homepage .grid-service .box {
    max-width: 100%;
  }
}

.homepage .grid-service .box figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .grid-service .box .detail {
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 45%;
}

.homepage .grid-service .box .detail .title {
  font-size: 2em;
  text-transform: uppercase;
}

@media screen and (min-width: 560px) and (max-width: 768px) {
  .homepage .grid-service .box .detail .title {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 1024px) {
  .homepage .grid-service .box .detail .title {
    font-size: 1.6em;
  }
}

.homepage .grid-service .box .detail .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
}

.homepage .grid-service .box .detail .button i {
  color: #fff;
  font-size: 1.6em;
  background: #0071e1;
  padding: 0.3em;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.homepage .section1 {
  position: relative;
}

@media screen and (min-width: 768px) {
  .homepage .section1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 45% 55%;
        grid-template-columns: 45% 55%;
  }
}

@media screen and (min-width: 1366px) {
  .homepage .section1 {
    padding: 0 10em;
  }
}

@media screen and (min-width: 1900px) {
  .homepage .section1 {
    padding: 0 20em;
  }
}

.homepage .section1 .left {
  display: none;
}

@media screen and (min-width: 768px) {
  .homepage .section1 .left {
    display: block;
  }
}

.homepage .section1 .left img {
  width: 100%;
}

.homepage .section1 .right {
  position: relative;
  z-index: 2;
  padding: .5em;
}

@media screen and (min-width: 768px) {
  .homepage .section1 .right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.homepage .section1 .right h2 {
  padding: 1em 0;
}

.homepage .section1 .right .slide-chooseus {
  width: 100%;
  height: 100%;
}

.homepage .section1 .right .slide-chooseus .swiper-wrapper .swiper-slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

@media screen and (min-width: 1366px) {
  .homepage .section1 .right .slide-chooseus .swiper-wrapper .swiper-slide {
    -ms-grid-columns: 24% 71%;
        grid-template-columns: 24% 71%;
    -webkit-column-gap: 5%;
            column-gap: 5%;
    background: #fff;
    padding: 1em;
    width: 380px !important;
  }
}

.homepage .section1 .right .slide-chooseus .swiper-wrapper .swiper-slide .detail-zone .detail {
  margin-top: .5em;
}

.homepage .section1 .right .slide-chooseus .swiper-wrapper .swiper-slide .detail-zone .detail p {
  font-size: .8em;
}

.homepage .section1 .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage .section1 .bg img {
  width: 100%;
}

.homepage .section2 {
  padding: 2em .5em;
}

@media screen and (min-width: 768px) {
  .homepage .section2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
}

@media screen and (min-width: 1366px) {
  .homepage .section2 {
    padding: 2em 10em;
  }
}

@media screen and (min-width: 1900px) {
  .homepage .section2 {
    padding: 2em 20em;
  }
}

.homepage .section2 .left h2 {
  margin: 1em 0;
}

.homepage .section2 .left .list-section2 {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.homepage .section2 .left .list-section2:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: lightgray;
  border-radius: 10px;
}

.homepage .section2 .left .list-section2 .list {
  cursor: pointer;
}

.homepage .section2 .left .list-section2 .list.active {
  position: relative;
}

.homepage .section2 .left .list-section2 .list.active:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #0071e1;
  border-radius: 10px;
  z-index: 2;
  -webkit-transition: .3s;
  transition: .3s;
}

.homepage .section2 .left .detail-list {
  margin: 1em 0;
}

.homepage .section2 .left .readmore {
  margin: 1em 0;
}

.homepage .section2 .right .img-zone .big-img {
  margin-bottom: .5em;
}

.homepage .section2 .right .img-zone .big-img img {
  width: 100%;
}

.homepage .section2 .right .img-zone .thumbnail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .5em;
}

.homepage .section2 .right .img-zone .thumbnail figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.homepage .section2 .right .img-zone .thumbnail figure img {
  width: 100%;
}

.homepage .blog {
  margin: 2em 0;
  padding: 0 .5em;
}

@media screen and (min-width: 1366px) {
  .homepage .blog {
    padding: 0 10em;
  }
}

@media screen and (min-width: 1900px) {
  .homepage .blog {
    padding: 0 20em;
  }
}

.homepage .blog .title-blog {
  text-align: center;
}

.homepage .blog .grid-blog {
  margin: 2em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
}

@media screen and (min-width: 768px) {
  .homepage .blog .grid-blog {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }
}

.homepage .blog .grid-blog .box {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.homepage .blog .grid-blog .box figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homepage .blog .grid-blog .box figure img {
  width: 100%;
  border-radius: 5px;
}

.homepage .blog .grid-blog .box .detail-zone {
  padding: 1em;
}

.homepage .blog .grid-blog .box .detail-zone .title {
  margin-bottom: 1em;
}

.homepage .blog .grid-blog .box .detail-zone .date-view span {
  font-size: .8em;
  font-weight: 100;
  color: #6f6f6f;
}

.homepage .blog .grid-blog .box .detail-zone .detail {
  margin: 1em 0;
}

.homepage .blog .grid-blog .box .detail-zone .detail p {
  height: 5.7em;
  overflow: hidden;
  line-height: 1.4;
}

.homepage .blog .grid-blog .box .detail-zone .readmore a {
  color: #0071e1;
  text-decoration: underline;
}

.homepage .contact {
  padding: 2em .5em;
  margin: 2em 0;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
}

@media screen and (min-width: 1366px) {
  .homepage .contact {
    padding: 2em 10em;
    -ms-grid-columns: .6fr .4fr;
        grid-template-columns: .6fr .4fr;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
}

@media screen and (min-width: 1900px) {
  .homepage .contact {
    padding: 2em 20em;
  }
}

.homepage .contact .form-contact {
  background: #fff;
  border-radius: 5px;
  padding: 1em 2em;
}

.homepage .contact .form-contact .title h2 {
  text-align: center;
}

.homepage .contact .form-contact .form {
  margin: 1em 0;
}

.homepage .contact .form-contact .form .input, .homepage .contact .form-contact .form .textarea {
  margin-bottom: .5em;
}

.homepage .contact .form-contact .form .textarea textarea {
  resize: none;
}

.homepage .contact .form-contact .form .button-send {
  text-align: center;
}

.homepage .contact .map iframe {
  width: 100% !important;
  height: 250px !important;
  border-radius: 5px;
}

@media screen and (min-width: 1366px) {
  .homepage .contact .map iframe {
    height: 100% !important;
  }
}

.homepage .contact .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage .contact .bg img {
  width: 100%;
}
/*# sourceMappingURL=home.css.map */